.homes {
  grid-column: col-start 1 / col-end 8;

  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  &__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
  }
  &__like {
    fill: $color-primary;
    width: 2.5rem;
    height: 2.5rem;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: flex-end;
    z-index: 2;
  }
  &__name {
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 400;
    width: 80%;
    color: #fff;
    z-index: 3;
    text-align: center;
    padding: 1.5rem;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(50%);
  }

  &__location,
  &__rooms {
    margin-top: 2rem;
  }
  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    display: flex;
    justify-items: center;
    margin-left: 2rem;

    svg {
      fill: $color-primary;
      width: 2rem;
      height: 2rem;
      margin-right: 1.5rem;
    }
    p {
    }
  }
  &__btn {
    grid-column: 1/-1;
  }
}
